pom.xml
*jar
!lib/sfdc-enterprise.jar
/classes/
.lein-failures
.lein-deps-sum
.lein-repl-history
.#*
.DS_Store
.nrepl-port
.cpcache
/target/
/out/
figwheel_server.log
.rebel_readline_history
/logs/
.idea/
lsp/
*.iml
*.pyc
*.db
node_modules/
cljs-out/
out/
.shadow-cljs/
.clj-kondo/
.lsp/
/platform/*.db*
