{:service {:port 8000}
 :store  {:type :h2 :dbname "./data/sample"}
 :authentication {:service :okta
                  :is-identity-store true
                  :superuser-email "vijay@fractl.io"
                  :domain "dev-04676848.okta.com"
                  :auth-server "default"
                  :client-id "0oafwxbt02F6HgrvS5d7"
                  :client-secret "kXl0mJztD3EVHA4dGQBbfaydqYxedhYKYYnz2uZ0odxs7ZY4A7gQFYnAgiRZnnYD"
                  :scope "openid offline_access"
                  :introspect true ; if false token will be verified locally
                  :authorize-redirect-url "http://localhost:8000/auth/callback"
                  :client-url "http://localhost:8000"
                  :logout-redirect "http://localhost:8000/bye"
                  :api-token "00volY-0kBS0Ri74egYwtGClbYpxZ4mJWqPt2w3EfK"

                  :role-claim :user-roles
                  ;; "user-roles" is the custom attribute set for Okta users.
                  ;; More than one role or group can be specified as a comma-delmited string
                  ;; or as a vector of strings.
                  ;; Okta groups can be automatically set as a role-claim attribute by following
                  ;; these steps:
                  ;; In Okta console, navigate to Security > API. Select your authorization server and go to the Claims tab.
                  ;; Set these values: Name: groups, Include in: Access Token, Value type: Groups,
                  ;; Filter: Select Matches regex and use .* as the value
                  ;; Then, click Create. In this config set `:role-claim` to `:groups`.
                  
                  :default-role "guest"}}
